.membro {
    width: 500px;
    height: 1000px;
}

.membro .cabecalho {
    background-color:  #F0F0F0;
    border-radius: 10px 10px 0px 0px;
}
.membro img {
    width: 150px;
    height: 200px;
    border-radius: 30%;
    position: relative;
    bottom: -30px;
}

.membro .rodape {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 25px;
    padding-bottom: 2px;
}

.membro .rodape h3 {
    color: #6278F7;
    font-size: 16px;
    line-height: 15px;
    font-weight: bold;
    padding-bottom: 2px;
    margin-bottom: 2px;
}

.membro .rodape h4 {
    font-size: 16px;
    line-height: 15px;
    color: #212121;
    padding: 0 4px;
    padding-bottom: 5px;
    margin-bottom: 2px;
    

    
}