.comite {
    text-align: center;
    padding: 32px;
    

}

.comite h4 {
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}

.comite h3 {
    font-size: 16px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}

.comite .membros {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;
    
}